# .gitignore

# Terraform .terraform directory
.terraform/

# Exclude any local .tfstate files
*.tfstate
*.tfstate.*

# .terraform.lock.hcl files
*.lock.hcl

# .tfplan files
*.tfplan

# .terraformrc and terraform.rc files
terraform.rc

